html {
	height:100%;
}
body {
	min-height:100%; 
	background:$white; 
	color:$grayDark; 
	overflow-x:hidden; 
	font-size:$baseFontSize;
	line-height:1.2;
	/*font-family: 'Aller', 'bebas_neueregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font-family: $baseFontFamily;
	background-image: url(../img/gray_jean.png);
}

body > .row {
	background-color:white;
	box-shadow: 0 0 8px -3px rgb(182, 182, 182);
	border: 1px solid #CFCFCF;

}

a, a:visited { 
	text-decoration: none;
	letter-spacing: 0.07em;
	font-weight:bold; 
	color: $linkColor; 
	@include transition(color $baseTransitionDuration ease-out);
}
a:hover { 
	color: $linkColorHover;
	@include transition(color $baseTransitionDuration ease-out);
}

.clearfix {
	@include clearfix();
}